<footer>
    <div>
        <p><b>Contact:</b></p>
        <ul>
            <li>Email: <%= user.email %> </li>
            <li>Phone: +91 1234567890 </li>
        </ul>
    </div>
    <div id="links">
        <p><b>Useful links:</b></p>
        <a href="/">Home</a>
        <a href="/users/profile">Profile</a>
    </div>
    <div class="social">
        <p><b>Social links:</b></p>
        <a href="">fb</a>
        <a href="">linkdin</a>
        <a href="">github</a>
    </div>
</footer>