<h1>Views /<%= title %></h1>

<section id="feed-posts">
  <h4>posts</h4>
  <% if (locals.user) { %>
  <form action="/posts/create" id="new-post-form" method="post">
    <textarea name="content" id="" cols="30" rows="4"></textarea>
    <input type="submit" value="post" />
  </form>
  <% } %>
  <div class="posts-container">
    <ul>
      <% for(post of posts) { %>
      <li>
        <p>
          <%= post.content %>
          <br />
          <small> <%= post.user.name %> </small>
        </p>
        <div class="post-comment">
            <% if (locals.user) { %>
                <form action="/comments/create" method="post">
                    <input type="text" name="content" placeholder="add comment here...">
                    <input type="hidden" name="post" value="<%= post._id %>">
                    <input type="submit" value="add comment">
                </form>
            <% } %>
        </div>
      </li>
      <% } %>
    </ul>
  </div>
</section>
