footer{
    display: flex;
    justify-content: space-between;
    background-color: blueviolet;
    color: white;

    #links{
        display: flex;
        flex-direction: column;
    }

    .social{
        display: flex;
        flex-direction: column;
    }
}