header{
    display: flex;
    position: sticky;
    top: 0px;
    width: 100%;
    justify-content: space-between;
    background-color: blueviolet;

    a{
        color: antiquewhite;
    }

    ul{
        list-style-type: none;
        display: flex;

        li{
            padding: 4px;
        }
    }
}