<div>

    <p>Hi <%= comment.user.name %> </p>
    <br>
    <br>
    <p>Your comment <strong><%= comment.content %> </strong> just got published on b_social</p>
    <br>
    <br>
    <p>thanks</p>
</div>