header {
  display: flex;
  position: sticky;
  top: 0px;
  width: 100%;
  justify-content: space-between;
  background-color: blueviolet;
}

header a {
  color: antiquewhite;
}

header ul {
  list-style-type: none;
  display: flex;
}

header ul li {
  padding: 4px;
}
